@charset "utf-8";
*{
	margin: 0;

}
body,html{
	background-color: #8e8eff;
}
table , td, th {
	text-align: center;
	border: 1px solid #595959;
	border-collapse: collapse;
}
table{
	width: 100%;
	height: 50rem;
}
td, th {

}
th{
	background-color: #8e8eff;
	width: 13%;
}
td{
	background-color: #fff;
	width: 13%;
	height: 100%;
}
td:hover{
	color: white;
	background-color: #5680ED;
}
address{
	color: white;
}
@media only screen and (max-width: 414px){

}