@charset "UTF-8";

body,html{
  width: 100%;
  height: 100%;
  background: rgb(111, 2, 2);
}
*{
  margin: 0;
  padding: 0;
  color: white;
}
/*

header

*/
#header{
  width: 100%;
  height: 10%;
  border-bottom: 4px solid rgb(180, 120, 5);
}
#header > h1{
  background-color: rgba(225,225,225,0.8);
  line-height: 200%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: serif;
  font-size: 200%;
  letter-spacing: 1.5rem;
}
.moviesinfo{
  color: #870000;
  font-size: 1.5em;
}
/*

movies

*/
#movie1,#movie2,#movie3,#movie4{
  width: 35%;
  height: 40%;
  background-color: #fff;
  margin-top: 5%;
  border: 5px solid rgb(250, 200, 87);
  font-family: cursive;
}
/*映画のタイトル css*/
.movies-title{
  margin-top: 10px;
  text-align: center;
  font-size: 1.5rem;
}
.movies-contents{
  margin-top: 1.5em;
}
#movie1,#movie3{
    margin-left: 10%;
    float: left;
}
#movie2,#movie4{
  margin-right: 10%;
  float: right;
}
#movie3,#movie4{
  margin-bottom: 10%;
}
.moviediv{
  background-image: url(../img/redcarpet.png);
  background-size: cover;
}
/*

image画像

*/
img{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 40%;
  float: left;
  width: 120px;
  height: 120px;
}
img + p{
  font-family: serif;
  font-size: 90%;
  line-height: 1.5em;
}
img + p + p{
  float: right;
  margin-right: 10%;
  margin-top: 5%;
}
