@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Orbitron:700);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
/* line 8, ../sass/style.scss */
html, body { width: 100%; height: 100%; -webkit-overflow-scrolling: touch; }

/* line 13, ../sass/style.scss */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* line 26, ../sass/style.scss */
.mobile { font-size: 10px; line-height: 1.3rem; }

/* line 31, ../sass/style.scss */
h2 { font-family: 'Satisfy', cursive; font-size: 3rem; padding: 5%; text-shadow: 0px 0px 10px black; color: white; }

/* line 39, ../sass/style.scss */
#top { width: 100%; height: 100%; text-align: center; position: fixed; background-color: white; z-index: 1000; }
/* line 42, ../sass/style.scss */
#top .name { font-size: 3rem; }
/* line 45, ../sass/style.scss */
#top p { font-family: 'Poiret One', cursive; margin: 1% auto; font-size: 1.5rem; text-shadow: 0px 0px 15px black; margin: 5% 0; }
/* line 52, ../sass/style.scss */
#top .icon { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); width: 15rem; height: 15rem; border-radius: 30%; overflow: hidden; margin: 5% auto; }
/* line 59, ../sass/style.scss */
#top .icon img { width: 100%; height: 100%; }

/* line 66, ../sass/style.scss */
#history { width: 100%; height: 100%; text-align: center; position: fixed; background-color: white; z-index: 900; }
/* line 69, ../sass/style.scss */
#history .history_contents { width: 80%; height: 60%; overflow: scroll; margin: 0 auto; }
/* line 74, ../sass/style.scss */
#history .history_contents ul { padding-left: 3%; text-align: left; }
/* line 77, ../sass/style.scss */
#history .history_contents ul li { line-height: 2rem; list-style: none; margin: 1% 0; }
/* line 81, ../sass/style.scss */
#history .history_contents ul li:before { content: ""; display: inline-block; width: 10px; height: 10px; box-shadow: 0px 0px 10px #0053DD; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }

/* line 98, ../sass/style.scss */
#portfolio { width: 100%; height: 100%; text-align: center; position: fixed; background-color: white; z-index: 800; }
/* line 101, ../sass/style.scss */
#portfolio .portfolio_contents { width: 80%; height: 60%; margin: 0 auto; }
/* line 105, ../sass/style.scss */
#portfolio .portfolio_contents .portfolio_content { width: 30%; height: 80%; padding: 5% 0; display: inline-block; overflow: scroll; }
/* line 111, ../sass/style.scss */
#portfolio .portfolio_contents .portfolio_content .portfolio_img { width: 30%; margin: 1% auto; cursor: pointer; }
/* line 115, ../sass/style.scss */
#portfolio .portfolio_contents .portfolio_content .portfolio_img img { width: 100%; }

/* line 123, ../sass/style.scss */
#community { width: 100%; height: 100%; text-align: center; position: fixed; background-color: white; z-index: 700; }
/* line 126, ../sass/style.scss */
#community .community_contents { width: 80%; height: 60%; overflow: scroll; margin: 0 auto; }
/* line 131, ../sass/style.scss */
#community .community_contents .community_content { width: 30%; margin: 0 auto; padding: 5% 0; display: inline-block; }
/* line 136, ../sass/style.scss */
#community .community_contents .community_content p { line-height: 2rem; font-size: 0.8rem; }
/* line 140, ../sass/style.scss */
#community .community_contents .community_content .community_img { width: 30%; margin: 0 auto; }
/* line 143, ../sass/style.scss */
#community .community_contents .community_content .community_img img { width: 100%; }

/* line 151, ../sass/style.scss */
#contact { width: 100%; height: 100%; text-align: center; position: fixed; background-color: white; z-index: 600; }
/* line 154, ../sass/style.scss */
#contact .sns { width: 80%; margin: 0 auto; }
/* line 157, ../sass/style.scss */
#contact .sns a { text-decoration: none; color: black; margin: 0 5%; }
/* line 161, ../sass/style.scss */
#contact .sns a:hover { color: rgba(153, 153, 153, 0.7); }
/* line 165, ../sass/style.scss */
#contact .sns .fa-twitter:hover { color: #377bd3; }
/* line 168, ../sass/style.scss */
#contact .sns .fa-facebook:hover { color: #314887; }
/* line 171, ../sass/style.scss */
#contact .sns .fa-google-plus:hover { color: #bb4836; }

/* line 177, ../sass/style.scss */
#top2 { width: 100%; height: 100%; text-align: center; position: fixed; background-color: white; z-index: 500; text-align: center; }
/* line 181, ../sass/style.scss */
#top2 a { display: block; color: black; text-decoration: none; font-family: 'Orbitron', sans-serif; margin: 1% auto; font-size: 3rem; text-shadow: 0px 0px 15px #0051FF; }
/* line 189, ../sass/style.scss */
#top2 a:hover { text-shadow: 0px 0px 15px #FF7400; }
/* line 193, ../sass/style.scss */
#top2 .icon { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); width: 15rem; height: 15rem; border-radius: 30%; overflow: hidden; margin: 5% auto; }
/* line 200, ../sass/style.scss */
#top2 .icon img { width: 100%; height: 100%; }
/* line 205, ../sass/style.scss */
#top2 i { display: block; cursor: pointer; }

@media screen and (max-width: 414px) { /* line 213, ../sass/style.scss */
  #top .name { font-size: 3rem; }
  /* line 216, ../sass/style.scss */
  #top p { margin: 1% auto; font-size: 1.5rem; margin: 5% 0; }
  /* line 221, ../sass/style.scss */
  #top .icon { width: 10rem; height: 10rem; margin: 20% auto; }
  /* line 230, ../sass/style.scss */
  #history .history_contents li { font-size: 10px; line-height: 2rem; }
  /* line 238, ../sass/style.scss */
  #portfolio .portfolio_contents { width: 95%; height: 70%; margin: 0 auto; padding: 5% 0; box-shadow: 0px 0px 10px transparent; }
  /* line 244, ../sass/style.scss */
  #portfolio .portfolio_contents .portfolio_content { width: 45%; height: auto; padding: 0; display: inline-block; box-shadow: 0px 0px 5px black; font-size: 10px; }
  /* line 251, ../sass/style.scss */
  #portfolio .portfolio_contents .portfolio_content .portfolio_img { width: 90%; margin: 1% auto; cursor: pointer; }
  /* line 255, ../sass/style.scss */
  #portfolio .portfolio_contents .portfolio_content .portfolio_img img { width: 100%; }
  /* line 264, ../sass/style.scss */
  #community .community_contents { width: 95%; height: 70%; margin: 0 auto; }
  /* line 268, ../sass/style.scss */
  #community .community_contents .community_content { width: 45%; margin: 0 auto; padding: 5% 0; display: inline-block; }
  /* line 273, ../sass/style.scss */
  #community .community_contents .community_content p { line-height: 1rem; font-size: 10px; }
  /* line 277, ../sass/style.scss */
  #community .community_contents .community_content .community_img { width: 90%; margin: 0 auto; }
  /* line 280, ../sass/style.scss */
  #community .community_contents .community_content .community_img img { width: 100%; }
  /* line 289, ../sass/style.scss */
  #contact .sns { width: 70%; text-align: center; }
  /* line 292, ../sass/style.scss */
  #contact .sns a { display: block; margin: 3% 0%; }
  /* line 299, ../sass/style.scss */
  #top2 { width: 100%; height: 100%; text-align: center; position: fixed; background-color: white; z-index: 500; text-align: center; }
  /* line 303, ../sass/style.scss */
  #top2 a { color: black; text-decoration: none; font-family: 'Orbitron', sans-serif; margin: 5% auto; font-size: 1.5rem; text-shadow: 0px 0px 15px #0051FF; }
  /* line 311, ../sass/style.scss */
  #top2 .icon { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); width: 15rem; height: 15rem; border-radius: 30%; overflow: hidden; margin: 5% auto; }
  /* line 318, ../sass/style.scss */
  #top2 .icon img { width: 100%; height: 100%; } }
