@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=Bad+Script);
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
/*font-family: 'Bad Script', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
*/
body,
html{
	width: 100%;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
body > i{
	position: fixed;
	right: 50px;
	bottom: 30px;
	width: 5rem;
	height: 5rem;
	text-align: center;
	color: #FF4D3A;
	cursor: pointer;
}
#main{
	width: 100%;
	height: 97%;
	overflow-y: scroll;
}
/*

home

*/
.home{
	width: 100%;
	height: 100%;
	background-color: #f3f3f3;
	text-align: center;
}
.home .image{
	padding: 5% 0 2%;
}
.home .image img{
	width: 20%;
	border-radius: 50%;
}
.home p{
	font-size: 2rem;
	color: black;
}
.home .image + p{
	font-family: 'Bad Script', cursive;
}
.home .image + p + p{
	line-height: 50px;
	font-family: 'Reenie Beanie', cursive;
}
.home .image + p + p + p{
	line-height: 50px;
	font-family: 'Reenie Beanie', cursive;
}
/*

history

*/
.history{
	width: 100%;
	height: 200%;
	background: #f3f3f3;
}
h2{
	text-align: center;
	line-height: 5rem;
	font-size: 3rem;
	font-family: 'Fjalla One', sans-serif;
}
.history .history-contents{
	margin: 0 auto;
	width: 80%;
	height: 90%;
	overflow: scroll;
	border: 3px dashed rgba(0,0,255,0.4);
}
.history .history-contents ul{
	list-style: circle;
	padding-left: 10%;
	padding-top: 3%;

}
.history .history-contents ul li{
	line-height: 2rem;
}
/*

skill

*/
.skill{
	width: 100%;
	height: 100%;
	background-color: #16156E;
}
.skill h2{
	color: white;
	padding-bottom: 3%;
}
.skill .graph{
	position: relative;
    margin: 20px auto;
    width: 300px;
    border: 1px solid #fff;
    padding: 2px;
}
.skill .bar{  display: block;
    position: relative;
    background: #fff;
    text-align: center;
    color: #16156e;
    height: 2em;
    line-height: 2em;
}
.skill p{
	color: #fff;
	text-align: center;
}
/*

contact

*/
.contact{
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.contact h2{
	color: #16156E;
	padding-bottom: 3%;
}
.contact .sns{
	width: 80%;
	height: 70%;
	margin: 0 auto;
	text-align: center;
}
.contact .sns i{
	color: black;
	margin: 15% 10%;
}
.fa-twitter:hover{
	color: rgb(55,123,211)!important;
}
.fa-facebook:hover{
	color: rgb(49,72,135)!important;
}
.fa-google-plus:hover{
	color: rgb(187,72,54)!important;
}
/*

footer

*/
#footer{
	width: 100%;
	height: 3%;
	background-color: black;
	color: white;
	letter-spacing: .4rem;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
}