@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Orbitron:700);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

$mobileFontSize: 0.5rem;

html,body{
	width: 100%;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@mixin def{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: white;
	position: fixed;
	box-shadow: 0px 0px 50px rgb(0,0,0);
}

.mobile{
	font-size: $mobileFontSize;
	line-height: 1.3rem;
}

h2{
	font-family: 'Satisfy', cursive;
	font-size: 3rem;
	padding: 5%;
	text-shadow: 0px 0px 10px rgb(0,0,0);
	color: white;
}

#top{
	@include def;
	z-index: 1000;
	.name{
		font-size: 3rem;
	}
	p{
		font-family: 'Poiret One', cursive;
		margin: 1% auto;
		font-size: 1.5rem;
		text-shadow: 0px 0px 15px rgb(0,0,0);
		margin: 5% 0;
	}
	.icon{
		box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
		width: 15rem;
		height: 15rem;
		border-radius: 30%;
		overflow: hidden;
		margin: 5% auto;
		img{
			width: 100%;
			height: 100%;
		}
	}
}

#history{
	@include def;
	z-index: 900;
	.history_contents{
		width: 80%;
		height: 60%;
		overflow: scroll;
		margin: 0 auto;
		ul{
			padding-left: 3%;
			text-align: left;
			li{
				line-height: 2rem;
				list-style: none;
				margin: 1% 0;
				&:before{
					content: "";
					display: inline-block;
					width: 10px;
					height: 10px;
					box-shadow: 0px 0px 10px #0053DD;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
		}
	}
}

#portfolio{
	@include def;
	z-index: 800;
	.portfolio_contents{
		width: 80%;
		height: 60%;
		margin: 0 auto;
		overflow: scroll;
		box-shadow: 0px 0px 10px rgb(0,0,0);
		.portfolio_content{
			width: 100%;
			height: 100%;
			padding: 5% 0;
			display: inline-block;
			overflow: scroll;
			.portfolio_img{
				width: 30%;
				margin: 1% auto;
				cursor: pointer;
				img{
					width: 100%;
				}
			}
		}
	}
}

#community{
	@include def;
	z-index: 700;
	.community_contents{
		width: 80%;
		height: 60%;
		overflow: scroll;
		margin: 0 auto;
		.community_content{
			width: 100%;
			margin: 0 auto;
			padding: 5% 0;
			p{
				line-height: 2rem;
				font-size: 0.8rem
			}
			.community_img{
				width: 30%;
				margin: 0 auto;
				img{
					width: 100%;
				}
			}
		}
	}
}

#contact{
	@include def;
	z-index: 600;
	.sns{
		width: 80%;
		margin: 0 auto;
		a{
			text-decoration: none;
			color: black;
			margin: 0 5%;
			&:hover{
				color: rgba(153, 153, 153, 0.7);
			}
		}
		.fa-twitter:hover {
			color: #377bd3;
		}
		.fa-facebook:hover {
			color: #314887;
		}
		.fa-google-plus:hover {
			color: #bb4836;
		}
	}
}

#top2{
	@include def;
	z-index: 500;
	text-align: center;
	a{
		display: block;
		color: black;
		text-decoration: none;
		font-family: 'Orbitron', sans-serif;
		margin: 1% auto;
		font-size: 3rem;
		text-shadow: 0px 0px 15px #0051FF;
	}
	.icon{
		box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
		width: 15rem;
		height: 15rem;
		border-radius: 30%;
		overflow: hidden;
		margin: 5% auto;
		img{
			width: 100%;
			height: 100%;
		}
	}
	i{
		display: block;
		cursor: pointer;
	}
}

@media screen and (max-width: 414px) {
	#top{
		.name{
			font-size: 3rem;
		}
		p{
			margin: 1% auto;
			font-size: 1.5rem;
			margin: 5% 0;
		}
		.icon{
			width: 10rem;
			height: 10rem;
			margin: 20% auto;
		}
	}

	#history{
		.history_contents{
			li{
				font-size: $mobileFontSize;
				line-height: 2rem;
			}
		}
	}

	#portfolio{
		.portfolio_contents{
			.portfolio_content{
				padding: 5% 0;
				p{
					font-size: $mobileFontSize;
				}
				.portfolio_img{
					width: 50%;
					margin: 1% auto;
					cursor: pointer;
					img{
						width: 100%;
					}
				}
			}
		}
	}

	#community{
		.community_contents{
			.community_content{
				width: 100%;
				margin: 0 auto;
				padding: 5% 0;
				p{
					line-height: 2rem;
					font-size: $mobileFontSize;
				}
				.community_img{
					width: 30%;
					margin: 0 auto;
					img{
						width: 100%;
					}
				}
			}
		}
	}

	#top2{
		@include def;
		z-index: 500;
		text-align: center;
		a{
			color: black;
			text-decoration: none;
			font-family: 'Orbitron', sans-serif;
			margin: 5% auto;
			font-size: 1.5rem;
			text-shadow: 0px 0px 15px #0051FF;
		}
		.icon{
			box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
			width: 15rem;
			height: 15rem;
			border-radius: 30%;
			overflow: hidden;
			margin: 5% auto;
			img{
				width: 100%;
				height: 100%;
			}
		}
		i{
			display: none;
		}
	}
}