@charset "UTF-8";
// サイン風なfont
// font-family: 'Stalemate', cursive;
@import url(https://fonts.googleapis.com/css?family=Stalemate);
// 普段使うfont
// font-family: 'Averia Libre', cursive;
@import url(https://fonts.googleapis.com/css?family=Averia+Libre:400,700);
// 基本全部これ
// font-family: 'Ubuntu', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);
body,html{
  width: 100%;
  height: 100%;
  background-color: rgb(27,17,79);
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
$n: rgb(27,17,79);
$y: rgb(244, 214, 56);
$mobileFont: 10px;
$mobileFontH: 20px;
$mobileFontlist: 13px;
@mixin odd {
  width: 100%;
  background-color: $y;
  padding: 10% 0;
  h2{
    color: $n;
    text-align: center;
    letter-spacing: 1rem;
    font-family: 'Stalemate', cursive;
    font-size: 3rem;
  }
  p{
    color: $n;
    text-align: center;
    font-size: 0.7rem;
  }
}
@mixin even {
  width: 100%;
  background-color: $n;
  padding: 10% 0;
  h2{
    color: $y;
    text-align: center;
    letter-spacing: 1rem;
    font-family: 'Stalemate', cursive;
    font-size: 3rem;
  }
  p{
    color: $y;
    text-align: center;
    font-size: 0.7rem;
  }
}
.topAni{
  width: 100%;
  height: 100%;
  background-color: $n;
  position:fixed;
  z-index: 10000000;
  .hello{
    width: 100%;
    height: 10rem;
    line-height: 10rem;
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-family: 'Averia Libre', cursive;
    color: $y;
  }
}
.fa-bars{
  display: none;
}
.fa-remove{
  display: none;
}
.navi{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: $n;
  z-index: 100;
  ul{
    width: 70%;
    margin: 0 auto;
    li{
      float: left;
      list-style: none;
      width: 20%;
      a{
        font-family: 'Averia Libre', cursive;
        display: block;
        width: 100%;
        padding: 13% 0;
        text-decoration: none;
        color: rgb(252, 206, 35);
        -webkit-transition: color .2s linear;
        &:hover{
          color: rgb(255, 248, 157);
        }
      }
    }
  }
}
#topBox{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $n;
  h1{
    color: $y;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    text-align: center;
    font-family: 'Averia Libre', cursive;
    &:before{
      content: "";
      display: block;
      width: 15%;
      height: 1px;
      margin: 0 auto;
      background-color: rgb(255, 248, 157);
    }
    &:after{
      content: "";
      display: block;
      width: 15%;
      height: 1px;
      margin: 0 auto;
      background-color: rgb(255, 248, 157);
    }
  }
}
#about{
  @include odd;
  .contents{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    .content{
      width: 30%;
      float: left;
      padding: 0 10%;
      h3{
        color: rgb(21, 0, 93);
        text-align: center;
        padding: 1% 0;
      }
      ul{
        background-color: $n;
        padding: 3%;
        border-radius: 10px;
        li{
          list-style: none;
          margin: 1% 0;
          color: $y;
          line-height: 4rem;
        }
      }
      .history_contents{
        margin-left: 2%;
        background-color: $n;
        border-radius: 10px;
        dl{
          margin: 1% 0;
          padding: 3%;
          dt{
            color: $y;
          }
          dd{
            color: $y;
            margin-left: 2%;
            a{
              color: $y;
            }
          }
        }
      }
    }
  }
}
#portfolio{
  @include even;
  .protfolio_contents{
    width: 95%;
    margin: 3% auto;
    overflow: hidden;
    text-align: center;
    .content{
      width: 40%;
      margin: 1%;
      display: inline-block;
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
      }
      p{
        width: 100%;
        height: 20%;
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        bottom: 0;
        color: white;
        -webkit-transition: opacity .5s linear;
        &:hover{
          opacity: 0;
        }
      }
      a{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
#community{
  @include odd;
  .community_contents{
    width: 95%;
    margin: 2% auto;
    .content{
      width: 74%;
      margin: 1% auto 0;
      overflow: hidden;
      background-color: $n;
      border-radius: 10px;
      padding: 3%;
      .img{
        float: left;
        width: 40%;
        a{
          display: block;
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
      p{
        text-align: left;
        float: left;
        width: 56%;
        color: $y;
        padding: 2%;
        line-height: 2rem;
        a{
          color: $y;
        }
      }
    }
  }
}
#contact{
  @include even;
  height: 100%;
  .contact_contents{
    width: 40%;
    margin: 2% auto;
    color: $y;
    overflow: hidden;
    dl{
      width: 30%;
      float: left;
      margin: 0 10%;
      dt{
        margin: 5% 0;
      }
      dd{
        margin-left: 10%;
        a{
          color: $y;
        }
      }
    }
  }
}
footer{
  width: 100%;
  background-color: $n;
  position: relative;
  text-align: center;
  small{
    padding: 5% 0;
    color: $y;
    letter-spacing: 0.5rem;
  }
}
@media only screen and (max-width: 1024px){
  h2{
    font-size: $mobileFontH;
  }
  .topAni{
    .hello{
      height: 2rem;
      line-height: 2rem;
      font-size: 2rem;
    }
  }
  .fa-bars{
    display: block;
    color: $y;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    text-shadow: 0px 0px 1px $n;
  }
  .fa-remove{
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    color: $y;
  }
  .navi{
    display: none;
    height: 100%;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0;
    ul{
      width: 70%;
      margin: 0 auto;
      li{
        float: none;
        width: 100%;
        a{
          padding: 13% 0;
          text-decoration: none;
          color: rgb(252, 206, 35);
          -webkit-transition: color .2s linear;
          &:hover{
            color: rgb(255, 248, 157);
          }
        }
      }
    }
  }
  #topBox{
    h1{
      &:before{
        width: 10rem;
      }
      &:after{
        width: 10rem;
      }
    }
  }
  #about{
    @include odd;
    .contents{
      width: 90%;
      margin: 0 auto;
      .content{
        width: 60%;
        float: none;
        padding: 0 10%;
        margin: 10% auto;
        ul{
          padding: 3%;
          li{
            font-size: $mobileFont;
            line-height: 2rem;
          }
        }
        .history_contents{
          margin-left: 2%;
          dl{
            margin: 1% 0;
            padding: 3%;
            font-size: $mobileFont;
            dd{
              margin-left: 2%;
            }
          }
        }
      }
    }
  }
  #portfolio{
    @include even;
    .protfolio_contents{
      .content{
        width: 90%;
        margin: 2% auto;
        display: block;
        a{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  #community{
    @include odd;
    .community_contents{
      .content{
        width: 80%;
        margin: 1% auto 0;
        padding: 3%;
        .img{
          width: 100%;
          a{
            display: block;
            width: 100%;
            img{
              width: 100%;
            }
          }
        }
        p{
          text-align: left;
          width: 95%;
          color: $y;
          line-height: 2rem;
          font-size: $mobileFont;
          a{
            color: $y;
            font-size: $mobileFont;
          }
        }
      }
    }
  }
  #contact{
    @include even;
    .contact_contents{
      dl{
        width: 100%;
        float: both;
        margin: 0;
        dt{
          margin: 5% 0;
        }
        dd{
          margin-left: 10%;
          a{
            color: $y;
          }
        }
      }
    }
  }
  footer{
    small{
      letter-spacing: 0.3rem;
    }
  }
}
