@charset "UTF-8";
body,html{
  width: 100%;
  height: 100%;
  background-image: url(../img/kawaii.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
}
*{
  padding: 0;
  margin: 0;
}
